<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>GameOver</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  </head>
  <body>
    <h1>GameOver(´･_･`)</h1>
    <p><%= title %></p>
    <a href="/">▶ トップへもどる</a>
	<a href="/game">▶ 再戦してみる(´･_･`)</a>
  </body>
</html>