<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= desc %></p>
    <p><a href="/game">Start SW ShootingApp+ChatApp</a></p>
  </body>
</html>